main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .setup-params {
      border-radius: 14px;
      display: block;
      background-color: #f2f2f2;
      max-width: 400px;
      padding: 16px;
      display:center;
      margin: 0 auto;
      margin-top: 75px;
  }