{% include "headers.html" %}
<body class="d-flex flex-column h-100">
    <header>

        <!-- navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="./">sonos-bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/state">State</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0" action="/logout" method="GET">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" id="head">Trial In Progress</h1>

            <p class="lead">
                <br>Trial started: <strong id="started_date">-</strong><br>
                Estimated completion: <strong id="completion_date">-</strong><br>
                <strong id="time_elapsed">1h 15m</strong> has elapsed, with <strong id="time_remaining">9h 48m</strong> remaining.<br>
            </p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" id="progress" style="width: 0%"></div>
            </div>
            <br>
            <p>Trial parameters: &emsp; (lat, lon)=(<strong id="lat"></strong>,<strong id="lon"></strong>) &emsp;  elevation=<strong id="elevation"></strong>m &emsp; date=<strong id="date_param"></strong> &emsp;  speaker_color=<strong id="speaker-color"></strong></p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#stopModal" id="cancelButton">Cancel Test</button>
            <button type="button" class="btn btn-secondary" onclick="pause()" id="pauseBtn">Pause Trial</button>
            <button type="button" class="btn btn-success" onclick="resume()" id="resumeBtn" hidden>Resume Trial</button>
            <br><br>Turntable motor: &emsp;  steps=<strong id="turntableSteps"></strong> &emsp;  PUL_pin=<strong id="turntablePUL"></strong> &emsp;  DIR_pin=<strong id="turntableDIR"></strong>
            <br><br>Arm Motor:       &emsp;  steps=<strong id="armSteps"></strong> &emsp;  PUL_pin=<strong id="armPUL"></strong> &emsp;  DIR_pin=<strong id="armDIR"></strong>
            <br><br>Heater:             current_temperature=<strong id="currentTemp"></strong> &emsp;  reference_temperature=<strong id="referenceTemp"></strong>
            <hr>

            <h1>Motor Paths</h1>
            <div id='azimuthDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id='elevationDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id='dniDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id='temperatureDiv'><!-- Plotly chart will be drawn inside this DIV --></div>

        </div>
    </main>
{% include "footer.html" %}



    <!-- Modal -->
<div class="modal fade" id="stopModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are you sure you want to cancel the current test? All motors will stop and the recorded data will be discarded.
          <br><strong>This action can not be reversed.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="cancel()">Confirm Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
    function pause() {
        $.post("/setstatus/pause", function(data, status){
            update();
              //alert("Done")
          });
    }
    function resume() {
        $.post("/setstatus/resume", function(data, status){
              //alert("Done")
            update();
          });
    }
    function cancel() {
        $.post("/setstatus/cancel", function(data, status){
              //alert("Done")
            update();
          });
    }

    function update() {
        $.get("/state", function(data, status){
            document.getElementById("completion_date").innerHTML = data.completion_date
            document.getElementById("time_elapsed").innerHTML = data.time_elapsed
            document.getElementById("time_remaining").innerHTML = data.time_remaining
            document.getElementById("started_date").innerHTML = data.started_date
            document.getElementById("date_param").innerHTML = data.date_param
            document.getElementById("progress").style = "width: " + data.percentage_complete + "%";
            document.getElementById("lat").innerHTML = data.lat
            document.getElementById("lon").innerHTML = data.lon
            document.getElementById("speaker-color").innerHTML = data.speaker_color
            document.getElementById("elevation").innerHTML = data.elevation
            document.getElementById("turntableSteps").innerHTML = data.turntable.steps_taken;
            document.getElementById("turntablePUL").innerHTML = data.turntable.PUL_pin;
            document.getElementById("turntableDIR").innerHTML = data.turntable.DIR_pin;
            document.getElementById("armSteps").innerHTML = data.arm_motor.steps_taken;
            document.getElementById("armPUL").innerHTML = data.arm_motor.PUL_pin;
            document.getElementById("armDIR").innerHTML = data.arm_motor.DIR_pin;
            if (data.heater) {
                document.getElementById("currentTemp").innerHTML = data.heater.current_temperature;
                document.getElementById("referenceTemp").innerHTML = data.heater.reference_temperature;
            }
            if (data.status == "ready" || data.status == "calculating" || data.status == "resetting") {
                location.reload();
            }
            if (data.status == "running") {
                document.getElementById("head").innerHTML = "Trial In Progress"
                document.getElementById("progress").innerHTML = data.percentage_complete + "%";
                document.getElementById("pauseBtn").hidden = false
                document.getElementById("resumeBtn").hidden = true
                document.getElementById("progress").className = "progress-bar bg-primary progress-bar-striped progress-bar-animated";
            } else if (data.status == "paused") {
                document.getElementById("head").innerHTML = "Trial Paused"
                document.getElementById("pauseBtn").hidden = true
                document.getElementById("resumeBtn").hidden = false
                document.getElementById("progress").className = "progress-bar bg-secondary";
            } else if (data.status == "completed") {
                document.getElementById("head").innerHTML = "Trial Completed"
                document.getElementById("pauseBtn").hidden = true
                document.getElementById("resumeBtn").hidden = true
                document.getElementById("progress").className = "progress-bar bg-success";
                document.getElementById("cancelButton").hidden = false;
                document.getElementById("progress").innerHTML = "Complete";
            }
          });
    }

    function updateGraph(endpoint, div, title, xaxis, yaxis) {
        $.get(endpoint, function(data, status){
            var trace1 = {
              y: data.y,
              type: 'scatter'
            };

            var data = [trace1];

            var layout = {
                title: {
                    text: title,
                },
                xaxis: {
                    title: {
                        text: xaxis
                    },
                },
                yaxis: {
                    title: {
                        text: yaxis,
                    }
                }
            };

            Plotly.newPlot(div, data, layout);
          });
    }

    $( document ).ready(function() {
        update()
        $(function(){
            setInterval(update, 1000);
        });
        updateGraph("/graph/azimuth", 'azimuthDiv', "Turntable Motor", "minutes", "degrees");
        updateGraph("/graph/elevation", 'elevationDiv', "Arm Motor", "minutes", "degrees");
        updateGraph("/graph/dni", 'dniDiv', "Heater Output", "minutes", "watts/m^2");
        updateGraph("/graph/temperature", 'temperatureDiv', "Desired Temperature Output", "minutes", "Degrees (C)");
    });

</script>
</body>

</html>