{% include "headers.html" %}

<body class="d-flex flex-column h-100">
    <header>

        <!-- navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="./">sonos-bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Preparing <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Preparing Trial...</h1>
                <p class="lead">Hang tight, this should only take a minute or two. The page will automatically update.</p>
            <br>

            <!-- Show this when status == resetting -->
            <div class="calculating" id="calc-div">
                <h2>Crunching Numbers...</h2>
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
                <br>
                <h2>Resetting Robot</h2>
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"style="width: 0%"></div>
                </div>
            </div>

            <!-- Show this when status = calculating -->
            <div class="resetting" id="reset-div" hidden>
                <h2>
                    <span style="float:left">Crunching Numbers</span>
                    <span style="float:right; color: green">Done</span>
                </h2><br><br>
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                </div>
                <br>
                <h2>Resetting Robot...</h2>
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
            </div>


        </div>
    </main>

    {% include "footer.html" %}

    <script>
        $( document ).ready(function() {
            (function(){
                update()
                setTimeout(arguments.callee, 2000);
            })();
        });

        function update() {
            $.get( "/state", function( data ) {
                if (data["status"] == "resetting") {
                    document.getElementById("reset-div").hidden = false
                    document.getElementById("calc-div").hidden = true
                } else if (data["status"] == "calculating") {
                    document.getElementById("reset-div").hidden = true
                    document.getElementById("calc-div").hidden = false
                } else {
                    // done, redirect to main page
                    window.location.href = "/";
                }
            });
        }
    </script>
</body>

</html>