{% include "headers.html" %}

<body class="d-flex flex-column h-100">
    <header>

        <!-- navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="">sonos-bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Setup <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0" action="/logout" method="GET">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Trial Setup</h1>
            <p class="lead">Welcome to sonos-bot! Get started by entering your trial parameters below, then hit the "Begin Test" button to begin the trial.</p>

            <div class="setup-params">

                <div class="alert alert-danger" role="alert" id="err" hidden>
                    <strong>Error: </strong><span id="err-msg">message</span>
                </div>

                <!-- date picker -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend date">
                      <span class="input-group-text">Date</span>
                    </div>
                    <input type="text" class="form-control" placeholder="MM/DD/YYYY" data-provide="datepicker" id="date">
                  </div>

                <!-- lat box-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Latitude</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Latitude" id="lat">
                  </div>
                  <!-- long box-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Longitude</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Longitude" id="lon">
                  </div>

                  <!-- elevation box-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Elevation (m)</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Elevation (meters)" id="elevation">
                  </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Speaker Color</span>
                    </div>
                    <select class="form-control">
                        <option value="black">Black</option>
                        <option value="white">White</option>
                    </select>
                  </div>



                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="beginTest()">Begin Test</button>
            </div>
        </div>
    </main>

{% include "footer.html" %}
</body>

<script>
    function beginTest() {
        $.ajax ({
            type: "POST",
            url: '/setup/submit',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                "lat":document.getElementById("lat").value,
                "lon":document.getElementById("lon").value,
                "elevation":document.getElementById("elevation").value,
                "date":document.getElementById("date").value,
            }),
            success: function (data) {
                if (data["error"] != null) {
                    // we have an error
                    document.getElementById("err-msg").innerHTML = data["error"]
                    document.getElementById("err").hidden = false
                } else {
                    window.location.href = "../";
                }
            }
        })
    }
</script>

</html>